* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 20px;
  color: rgb(41, 3, 110);
  font-style: inherit;
}

.list-unk {
  list-style: none;
}

.style-p {
  font-size: 16px;
}

.decoration {
  text-decoration: none;
  color: rgb(85, 121, 32);
}

.decoration:hover {
  text-decoration: none;
  color: rgb(85, 121, 32, 0.5);
}

.image-px {
  width: 200px;

  border-radius: 30%;
}

#word-size {
  font-size: 18px;
}
.logo-size {
  width: 15px;
}

#full-profile {
  display: flex;
  flex-direction: row;
}

#left-perfil {
  flex: 1 1 20%;
  background-color: rgb(223, 221, 211);
  padding: 30px 12px;
  min-height: 100vh;
  border-right: 6px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  text-align: center;
}

#sectin-profile {
  flex: 1 1 80%;
  min-height: 100vh;
  padding: 50px;
  background-color: #eb15e7;
}

.social-media {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.social-media-link {
  text-decoration: none;
}

.github {
  color: rgb(33, 33, 33);
}

.github:hover {
  color: rgba(33, 33, 33, 0.5);
}

.linkedin {
  color: rgb(10, 102, 194);
}

.linkedin:hover {
  color: rgba(10, 102, 194, 0.5);
}
